<div>
  <form [formGroup]="serviceForm" (ngSubmit)="onFormSubmit()">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="serviceTypePanel.set(true)"
        (closed)="serviceTypePanel.set(false)"
      >
        <mat-expansion-panel-header class="custom-expansion-header">
          <mat-panel-title>Service Type Requested</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Based on the information provided in your application, these are the
          types of services available to you. Please check one of the following,
          if one has not already been preselected.
        </p>
        <div class="mx-auto p-4 grid grid-cols-1 md:grid-cols-3 gap-3">
          <div>
            <input
              type="checkbox"
              id="service1"
              name="FullServices"
              value="Full Services"
            />
            <label for="service1">Full Services</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="service2"
              name="LocateOnly"
              value="Locate Only"
            />
            <label for="service2">LocateOnly</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="service3"
              name="PaternityOnly"
              value="Paternity Only"
            />
            <label for="service3">Paternity Only</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="service4"
              name="MedicalSupportOnly"
              value="Medical Support Only"
            />
            <label for="service4">Medical Support Only</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="service5"
              name="ChildSupportOnly"
              value="Child Support Only"
            />
            <label for="service5">Child Support Only</label>
          </div>
          <div>
            <input
              type="checkbox"
              id="service6"
              name="ChildandSpousalSupport only"
              value="Child and Spousal support only"
            />
            <label for="service6">Child and Spousal Support Only</label>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="serviceTypePanel.set(true)"
        (closed)="serviceTypePanel.set(false)"
      >
        <mat-expansion-panel-header class="custom-expansion-header">
          <mat-panel-title>File Upload</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mx-auto p-4 grid grid-cols-1 md:grid-cols-3 gap-3">
          <div>
            <label for="category">Category</label>
            <select
              id="category"
              formControlName="category"
              class="w-full mt-1 p-3 border border-gray-300 rounded"
            >
              <option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </option>
            </select>
          </div>

          <!-- Document Type Dropdown -->
          <div>
            <label for="documentType">Document Type</label>
            <select
              id="documentType"
              formControlName="documentType"
              class="w-full mt-1 p-3 border border-gray-300 rounded"
            >
              <option *ngFor="let type of documentTypes" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>

          <!-- File Input -->
          <div>
            <label for="fileUpload">Upload File</label>
            <input
              type="file"
              id="fileUpload"
              (change)="onFileChange($event)"
              class="w-full mt-1 p-2 border border-gray-300 rounded"
            />
          </div>
        </div>
        <button type="submit" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded">
          Submit
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
