<mat-nav-list>
  <nav
    [ngClass]="{ 'w-64': isSidebarOpen, 'w-0': !isSidebarOpen }"
    class="bg-gray-800 h-screen fixed top-0 left-0 overflow-y-auto transition-width duration-300 scrollbar-hide"
  >
    <div class="px-4 py-5">
      <!-- <h2 class="text-white text-xl font-semibold">My App</h2> -->
    </div>

    <ul class="mt-6 ">
      <li class="mb-2">
        <a
          href="#"
          class="block px-4 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          Entire Caseload
        </a>
      </li>
      <li
        class="mb-2 hover:bg-gray-700 hover:text-white rounded-xl bg-gray-800"
      >
        <mat-expansion-panel class="hover:bg-gray-700">
          <mat-expansion-panel-header class="bg-gray-800">
            <span class="text-gray-300 rounded-lg">Intake</span>
          </mat-expansion-panel-header>
          <ul class="ml-4">
            <li class="mb-2">
              <a
                routerLink="/paper-application-cp"
                (click)="papperApplicationRoute()"
                class="block px-4 py-2 text-gray-300 rounded-xl hover:bg-gray-300 hover:text-black cursor-pointer"
              >
                Paper Application CP/NCP
              </a>
            </li>
            <li class="mb-2">
              <a
                href="#"
                class="block px-4 py-2 text-gray-300 rounded-xl hover:bg-gray-300 hover:text-black cursor-pointer"
              >
                Paper Intergovernmental
              </a>
            </li>
            <li class="mb-2">
              <a
                href="#"
                class="block px-4 py-2 text-gray-300 rounded-xl hover:bg-gray-300 hover:text-black cursor-pointer"
              >
                Non IV-D
              </a>
            </li>
          </ul>
        </mat-expansion-panel>
      </li>
      <li class="mb-2">
        <a
          href="#"
          class="block px-4 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          Intake
        </a>
      </li>
      <li class="mb-2 hover:bg-gray-700 hover:text-white rounded-xl">
        <mat-expansion-panel class="hover:bg-gray-700">
          <mat-expansion-panel-header class="bg-gray-800">
            <span class="text-gray-300 p-2 rounded-lg"
              >Intergovernmental Case</span
            >
          </mat-expansion-panel-header>
          <ul class="ml-4">
            <li class="mb-2">
              <a
                href="#"
                class="block px-4 py-2 text-gray-300 rounded-xl hover:bg-gray-300 hover:text-black cursor-pointer"
              >
                Local Cases
              </a>
            </li>
            <li class="mb-2">
              <a
                href="#"
                class="block px-4 py-2 text-gray-300 rounded-xl hover:bg-gray-300 hover:text-black cursor-pointer"
              >
                NRI Cases
              </a>
            </li>
          </ul>
        </mat-expansion-panel>
      </li>

      <li class="mb-2">
        <a
          href="#"
          class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          Reffered Cases
        </a>
      </li>
      <li class="mb-2">
        <a
          href="#"
          class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          Locate Cases
        </a>
      </li>
      <li class="mb-2">
        <a
          href="#"
          class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          Enforcement Case
        </a>
      </li>
      <li class="mb-2">
        <a
          href="#"
          class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          Establishment Cases
        </a>
      </li>
      <li class="mb-2">
        <a
          href="#"
          class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          Financial Management Cases
        </a>
      </li>
      <li class="mb-2">
        <a
          href="#"
          class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          Case Management
        </a>
      </li>
      <li class="mb-2">
        <a
          href="#"
          class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          File Upload
        </a>
      </li>
      <li class="mb-2">
        <a
          href="#"
          class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          Mail Processing
        </a>
      </li>
      <li class="mb-2">
        <a
          href="#"
          class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          Notices
        </a>
      </li>
      <li class="mb-2">
        <a
          href="#"
          class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white py-3 rounded-xl"
        >
          Refund Request Ticket
        </a>
      </li>
    </ul>
  </nav>
</mat-nav-list>
