<router-outlet>
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex-shrink-0">
          <!-- <img class="h-8 w-8" src="assets/logo.svg" alt="Logo">  -->
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center space-x-4">
            <a
              routerLink="/dashboard"
              (click)="goToDashboard()"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium cursor-pointer"
              >Dashboard</a
            >
            <a
              href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Case Registration
            </a>
            <a
              href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Locate</a
            >
            <a
              href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Intergovernmental</a
            >
            <a
              href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Establishment</a
            >
            <a
              href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Enforcement</a
            >
            <a
              href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Financial Management</a
            >
            <button
              (click)="openLogOutDialog()"
              class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-offset-2 focus:ring-offset-gray-800"
            >
              <span class="sr-only">LogOut</span>
              <svg
                width="40px"
                height="40px"
                viewBox="0 0 96 96"
                version="1.1"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                fill="#ffffff"
                stroke="#ffffff"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
             
                  <g id="banana"></g>
                  <g id="Layer_12"></g>
                  <g id="grape"></g>
                  <g id="assasin"></g>
                  <g id="gold"></g>
                  <g id="mage_ass"></g>
                  <g id="fighter"></g>
                  <g id="SUPPORT"></g>
                  <g id="marksman"></g>
                  <g id="JUNGLE"></g>
                  <g id="TANK"></g>
                  <g class="st0" id="creditcard"></g>
                  <g class="st0" id="CAKE"></g>
                  <g class="st0" id="TOPI"></g>
                  <g class="st0" id="SPATU"></g>
                  <g class="st0" id="SETTING"></g>
                  <g class="st0" id="CART"></g>
                  <g class="st0" id="k3"></g>
                  <g class="st0" id="computer"></g>
                  <g class="st0" id="phone"></g>
                  <g class="st0" id="location"></g>
                  <g id="koper">
                    <g id="Layer_29"></g>
                    <g>
                      <path
                        class="st4"
                        d="M48.5,25.3c0.7,0,1,0.3,1,0.3l0,18.8c0,0.1-0.4,0.4-1,0.4h-0.1c-0.6,0-0.9-0.3-1-0.3l0-18.9 C47.5,25.5,47.9,25.3,48.5,25.3z"
                      ></path>
                      <path
                        class="st4"
                        d="M48,74.4c-11.6,0-21.1-9.5-21.1-21.1c0-8.3,4.3-15.5,11.2-19c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.1,0,0.2,0 c0.2,0.1,0.3,0.2,0.4,0.4c0.1,0.2,0.1,0.4,0,0.5c-0.1,0.2-0.2,0.3-0.4,0.4c-6.4,3.2-10.4,10-10.4,17.7c0,10.9,8.8,19.7,19.7,19.7 s19.7-8.8,19.7-19.7c0-7.7-4-14.4-10.3-17.7c-0.3-0.2-0.5-0.6-0.3-0.9c0.2-0.3,0.6-0.5,0.9-0.3c6.8,3.5,11.1,10.7,11.1,18.9 C69.1,65,59.6,74.4,48,74.4z"
                      ></path>
                    </g>
                  </g>
                  <g class="st0" id="guide"></g>
                  <g id="MAGICAL"></g>
                  <g id="phisical"></g>
                  <g id="mango"></g>
                  <g id="orange"></g>
                </g>
              </svg>
            </button>
          </div>
        </div>
        <div class="md:hidden">
          <button
            type="button"
            class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
            aria-controls="mobile-menu"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
            <svg
              class="hidden h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="md:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
          >Home</a
        >
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
          >About</a
        >
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
          >Services</a
        >
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
          >Contact</a
        >
      </div>
    </div>
  </nav>
</router-outlet>
